<h1>Result page (index)</h1>

<% @bundle.each do |flight_bundle| %>


<% first_flight_bundle_flight = FlightBundleFlight.where(flight_bundle_id: flight_bundle.id).first %>

<h3> City: <%= first_flight_bundle_flight.flight.to_airport.city.name %>  </h3>
<p> Total Price: <%= flight_bundle.total_price  %> </p>

<% end %>
