<div class="wrapper">

  <!-- container on top with the search bar and filters  -->
  <div class="container results__container-head">
    <div class="results__search-recap">
      <h3>X results flying from xx and xx from xx to xx</h3>
    </div>
  </div>
  <!-- above closing container with the search bar and filters  -->


  <div class="container results__container-results">

    <!-- left side of the screen, with the results cards  -->
    <div class="results__results-list-side">
      <div class="row results__results-list-row">
        <% @bundle.each do |bundle| %>
          <div class="col-xs-12">
            <%= render 'components/bundle_card' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- above is the closing div of the LEFT side of the screen  -->

    <!-- right side of the screen, with city info  -->
    <div class="results__results-infos-side">
      <div class="row results__results-infos-row">
        <div class="col-xs-12">
          <div class="results__result-infos-card">
            <p>Display here info about the destination</p>
          </div>
        </div>
      </div>
    </div>
    <!-- above is the closing div of the RIGHT side of the screen  -->

  </div>
  <!-- above is the closing div of the container results  -->

</div>


