// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
// $orange: #E67E22;
$green: #32B796;
// $gray: #000000;

$light-turquoise: #CAE3E1;
$turquoise: #65C0BA;
$dark-turquoise: #216583;
$shiny-turquoise: #CFFDF8;
$light-gray: #EFEFEF;

$orange: #F7A442;
$dark-orange: #FF4D4D;
