.container-about {
  color: $turquoise;
}
.row-about-cards {
}
.card-about-employee {
  border: 1px solid black;
  margin: 15px auto;
  height: 280px;
  width: 650px;
  padding: 0px;
  display: flex;
  background-color: white;
  border-radius: 8px;
}
.card-employee-infos {
}
.employee-info-country {}

.card-employee-photo {
  border: 1px solid black;
  background: blue;
}
