.wrapper {
  min-height: 80vh;
  background-color: rgb(248,248,248);
}

// top container
.results__container-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

.results__search-form {
}

.results__search-recap {
  text-align: center;
  padding-top: 20px;
  h3 {
    font-size: 20px;
    color: #5E5E5E;
  }
}



// results container
.results__container-results {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}


//left side
.results__results-list-side {
  flex-basis:50%;
  flex-grow: 0;
}
.results__results-list-row {
  width: auto;
}

.results-loadmore-circle {
  width: 45px;
  height: 45px;
  background-color: #CAE3E1;
  border-radius: 50%;
  color: $dark-turquoise;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 40px;
}


//right-side
.results__results-infos-side {
  flex-basis:50%;
  flex-grow: 0;
}
.results__results-infos-row {
  display: flex;
  width: auto;
  justify-content: center;
}
.results__result-infos-card {
  // height: 800px;
  width: 90%;
  background-image: image-url("bckgrnd.svg");
  background-size: cover;
  border-radius: 5px;
  margin-top: 20px;
}

.results__results-infos-picture {
  // background-image: image-url("london.jpg");
  height: 350px;
  img {
    max-width: 100%;
    width: 99.45%;
    max-height: 100%;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    object-fit: cover;
  }
}
.results__results-infos-destination {
  padding: 0 20px;
  margin: 20px;
  position: relative;

  h1 {
    font-size: 26px;
    font-weight: bold !important;
    margin-bottom: 3px;
  }
  h4 {
    font-size: 14px;
    margin-top: 3px;
  }
  .button-book {
      position: absolute;
      bottom: 5px;
      right: 25px;
      background-color: #F7A442;
      border: none;
      }
  &:active{
      background:#F7A442;
  }

  .button-book:hover {
  opacity: 1;
  background: #f9bc72;
  text-decoration: none;
  color: white !important;
  }
}


.results__results-infos-description {
  padding: 0 20px;
  margin-left: 20px;
  margin-right: 20px;
}

// flights parts
.results__results-infos-flights {
  padding: 0 20px;
  position: relative;
  margin: 20px;
}
.bubble {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.bubble-flights-line-separation {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 170px;
  left: 34px;
  img {
    width: 100%;
  }
}

//Details of flights
#flight-row-title {
  margin: 0px;
  padding-top: 10px;
  padding-left: 24px;
  margin-bottom: 10px;
  span {
    color: #216583;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
}

.bubble-flights-row {
  color: #5E5E5E;
  font-family: 'Raleway', sans-serif !important;
  display: flex;
  justify-content: start;
  align-items: end;
  margin: auto 15px;
  margin-top: 13px;
}
.flight-row-airport-departure {
  font-family: 'Raleway', sans-serif !important;
  margin-right: 8px;
  margin-left: 10px;
  text-align: center;
  h3 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
  }
}
.flight-row-time-departure {
  font-family: 'Raleway', sans-serif !important;
  margin-right: 8px;
  h4 {
    margin-top: 9px;
    font-size: 16px;
  }
}
.flight-row-line {
  font-family: 'Raleway', sans-serif !important;
  width: 90px;
  text-align: center;
  margin-right: 3px;
  h2 {
    border-bottom: 3px solid $dark-turquoise;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 3px;
  }
  p {
   font-size: 10px;
  }
}
.flight-row-planeicon {
  padding-top: 5px;
  margin-right: 8px;
}
.flight-row-time-arrival {
  font-family: 'Raleway', sans-serif !important;
  margin-right: 8px;
  text-align: center;
  h4 {
    margin-top: 9px;
    font-size: 16px;
  }
}
.flight-row-airport-arrival {
  font-family: 'Raleway', sans-serif !important;
  margin-right: 5px;
  h3 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
  }
}
.flight-row-airline {
  font-family: 'Raleway', sans-serif !important;
  padding-top: 15px;
  margin-left: 40px;
  font-size: 14px;
}


// activities bubble
.results__results-infos-activities {
  padding: 0 20px;
  margin: 20px;
}

.row-destination-activities {
  color: #5E5E5E;
  margin: auto 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  h4 {
    font-size: 14px;
    margin-bottom: 3px;
    font-size: bold;
  }
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
.activities-list {
  margin-bottom: 20px;
}


// quotes bubble
.results__results-infos-quotes {
  padding: 0 20px;
  margin: 20px;
}

.row-destination-quote {
  color: #5E5E5E;
  margin: auto 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.destination-quote {
  p {
    text-align: right;
  }
}

#email {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  color: black;
}

#form_message {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  color: black;
}

.btn-share {
color: white;
margin-top: 5px;
}

.btn-share:hover {
  opacity: 1;
  background: #f9bc72;
  text-decoration: none;
  color: white !important;
}

#url {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  color: black;
}
 .label-text{
 color: black;
 font-weight: lighter;
 font-size: 13px;
 float: left;
}
