.results-infos-side-margin {
// margin: 30px 380px;
}

.wrapper-show {
  padding: 20px 310px;
}

.bubble-flights-line-separation-show {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 170px;
  left: 34px;
  width: 655px;
  img {
    width: 100%;
  }
}
