// Specific CSS for your home-page

.home-banner {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative
}
.banner-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-banner-content {
  height: 300px;
  margin-top: 240px;
  display: flex;
  flex-direction: column;
}
.header-text {
  h1 {
    font-weight: bold;
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
}

.form-homepage {
  display: flex;
  justify-content: space-between;
  color: #5E5E5E;
  margin-top: 40px;
}

#inlineFormInputFriendCity {
  margin-left: 5px;
  margin-right: 5px;
  color: #5E5E5E !important;
}
#inlineFormInputCity {
  margin-left: 5px;
  margin-right: 5px;
  color: #5E5E5E !important;
}
#inlineFormStartInputDate {
  margin-left: 5px;
  margin-right: 5px;
  width: 255px;
  color: #5E5E5E !important;
}
#datepicker-submit {
  margin-left: 5px;
  margin-right: 5px;
  color: #5E5E5E !important;
}


.wrapper-grey {
  background-color: #EFEFEF;
  color: #5E5E5E;
}
.wrapper-turquois {
  background-color: #CAE3E1;
  color: #5E5E5E;
}
.card-grey {
  p {
    font-size: 15px !important;
  }
}
.card-turquois {
  p {
    font-size: 15px !important;
  }
}
.center-boxes {
  display: flex;
  align-items: center;
}


.card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
}

.container-how-to {
  padding: 15px 0px 15px 0px;
}

.container-how-to h2 {
  text-align: center;
}
.card-grey {
    background-color: #EFEFEF;
}

.card-turquois {
    background-color: #CAE3E1;
}

.image-round {
    height: 20vh;
    background-size: cover;
    background-position: center;
    }

 .image-round img {
  height: 160px;
  width: 160px;
 }

// .center-boxes {
// display: flex;
// justify-content: space-around;
// }

.container-fluid-no-padding {
  padding: 0px;
  color: black;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-orange {
background-color: #F7A442;
color: white !important;
height: 39px;
border: none;
}

.btn-orange:hover {
  opacity: 1;
  background: #f9bc72;
  text-decoration: none;
  color: white !important;
}
