// Specific CSS for your home-page
body {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.4;
}

.header-text h2 {
  font-weight: 200;
  font-size: 25px;
}

.header-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  img {
    width: 180px;
  }
}

#header {
  /*color: #828282;
  padding: 50px;
  height: 100vh;
  align-items: center
  justify-content: center;*/
  color: white;
  height: 80vh;
  text-align: center;
  background-size: cover;

  // justify-content: space-around;
  // align-items: center;
  // display: flex;


  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.header-text {
  position: absolute;
  bottom: 230px;
  right: 400px;
}

.color {
background-color: white;
}
.search-form {
  position: absolute;
  bottom: 180px;
  right: 350px;
}

.form-homepage {
  display: flex;
}

.input-padding {
  margin-right: 4px;
}

.wrapper-grey {
  background-color: #EFEFEF;
}

.wrapper-turquois {
  background-color: #CAE3E1;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  /*height: 25vh;*/
  text-align: center;
}

.container-how-to {
  padding: 15px;
}

.container-how-to h2 {
  text-align: center;
}
.card-grey {
    background-color: #EFEFEF;
}

.card-turquois {
    background-color: #CAE3E1;
}

.image-round {
    height: 20vh;
    background-size: cover;
    background-position: center;
    }

 .image-round img {
  height: 160px;
  width: 160px;
 }

.center-boxes {
display: flex;
justify-content: space-around;
}

.container-fluid-no-padding {
  padding: 0px;
  color: black;
  text-align: center;
  background-size: cover;
/*  display: flex;
*/  justify-content: center;
  align-items: center;
}

.btn-orange {
background-color: #F7A442;
}

.btn-orange:hover {
  opacity: 1;
  background: #f9bc72;
  text-decoration: none;
  color: white !important;
}


