<div class="wrapper">

  <div class="container container-about">
    <div class="row row-about-cards">
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo" style="background-image: ">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality/</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
