<!-- <div class="wrapper">

  <div class="container container-about">
    <div class="row row-about-cards">
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo" style="background-image: ">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality/</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <div class="text-center">

<!-- Banner -->
  <div class="banner-about">
  </div>

    <div class="wrapper-about">
      <div class="container">
        <div class="row container-about">
          <h2> About us
          </h2>
          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "kaj.png"%>
              </div>
              <div class="card card-grey">
                <h3>First text</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                 <%= image_tag "sam.png"%>
              </div>
              <div class="card card-about">
                <h3>First text</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "julio.png"%>
              </div>
              <div class="card card-grey">
                <h3>First text</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "scarlett.png"%>
              </div>
              <div class="card card-grey">
                <h3>First text</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
